@charset "UTF-8";

.pricebreaks {
  position: relative;
}
.pricebreak {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}
.pricebreak .qty {
  font-weight: bold;
}

@media (max-width: 768px) {
  .pricebreak {
    padding: 5px;
  }
}